<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB_ProjStocker"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\GitHub\Stocker_v1.0\ProjStocker\DataAccessLayer\AppData\DBWindowsApp.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>	
</configuration>